@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
}

.container {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.container_my {
    max-width: 980px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.menuitem_position {
    top: 30px;
    right: 20px;

}

.bg-img {
    background-image: url("/assets/img/png/Rectangle\ 18.png");
    width: 100%;
    background-position: top;
    background-size: cover;
}

.pb_40_lg {
    padding-bottom: 100px !important;
}



/* root */
:root {
    /* font_size */
    --fs-3xl: 64px;
    --fs-2xl: 48px;
    --fs-xl: 36px;
    --fs-lg: 24px;
    --fs-md: 20px;
    --fs-sm: 18px;
    --fs-ss: 13px;
}

/* font_size */

.fs_3xl {
    font-size: var(--fs-3xl);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_ss {
    font-size: var(--fs-ss);
}

.Poppins {
    font-family: 'Poppins';
    font-style: normal;
}

.Roboto {
    font-family: 'Roboto';
    font-style: normal;
}



.fw_700 {
    font-weight: 700;
}

.fw_600 {
    font-weight: 600;
}

.fw_500 {
    font-weight: 500;
}

.fw_400 {
    font-weight: 400;
}

.clr_white {
    color: #ffff;
}

.clr_blue {
    color: #2C49FE;
}

.clr_blue_l {
    color: #01C8FF;
}

.clr_rgb {
    color: rgba(255, 255, 255, 0.7);
}

.clr_black {
    color: #000000;
}

.menuitem {

    width: 40px;
    height: 7px;
    background: #00bff4;
    border-radius: 50px;

}

.dis_none {
    display: none;
}

.h_20 {
    height: 30px;
}

.bg_clr {
    background-color: #F6E300;
}

.Connect {
    color: #F4241E;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px !important;
}

.DISCOVER {
    background: #F4241E;
    border-radius: 10px;
    padding: 12px 22px !important;

}

.bg_clr_2 {
    background-color: #FFF03F;
}


.bg_clr_3 {
    background-color: #F4241E;
}











.timeline {
    position: relative;
    max-width: 1200px !important;
    margin: 0 auto;
}


.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(237, 17, 17);
    top: 22px;
    bottom: -17px;
    left: 50%;
    margin-left: -3px !important;
}


.circle {
    padding: 10px 40px !important;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.burger_1 {
    left: 30px;
    top: 2px;
}

.burger_2 {
    left: 300px;
    top: 30px;
}

.burger_3 {
    bottom: 30px;
    left: 280px;
}

.burger_4 {
    bottom: 20px;
    left: 0px;
}

.burger_5 {
    right: 310px;
    top: 40px;
}

.burger_6 {
    right: 5px;
    top: 0px;
}

.burger_7 {
    right: 0px;
    bottom: 100px;
}

.burger_8 {
    right: 220px;
    bottom: 50px;
}

.timeline_img1 {
    top: 30px;
    left: 200px;
}

.timeline_img2 {
    top: 200px;
    left: 0px;
}

.timeline_img3 {
    top: 190px;
    right: 371px;
}

.timeline_img4 {
    top: 10px;
    right: 0px;
}

.timeline_img5 {
    bottom: 270px;
    left: 270px;
}

.timeline_img6 {
    left: 0px;
    bottom: 50px;
}

.timeline_img7 {
    bottom: 0px;
    right: 330px;
}

.timeline_img8 {
    bottom: 90px;
    right: 50px;
}

@media (min-width:1400px) {
    .circle_2 {
        padding: 10px 40px !important;
        width: 46.4%;

    }
}

.monu {
    animation-name: monu;
    animation-duration: 1ms;
    animation-delay: 1ms;
    animation-iteration-count: infinite;
}

.circle::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    right: -17px;
    background-color: white;
    top: 15px;
    border-radius: 50%;
    z-index: 1 !important;
}


.left {
    left: 0;
}


.right {
    left: 50%;
}



.right::after {
    left: -18px;
}


.content {

    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px !important;
}

.accordion-button:not(.collapsed) {
    background: #FFF03F !important;
    border-color: #F6E300 !important;
    color: #000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border: none;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    border: none;

}


@media (min-width: 768px) {
    .w_80 {
        width: 60% !important;
    }
}

@media (max-width: 768px) {
    .circle {
        padding-left: 60px !important;
        padding-right: 4px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}

@media (max-width: 768px) {


    .timeline::after {
        left: 31px;
    }


    .circle {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .circle::before {
        left: 70px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }


    .left::after,
    .right::after {
        left: 14px;
    }


    .right {
        left: 0%;
    }

    .w_100 {
        width: 100% !important;
    }
}

@media (max-width:1200px) {
    :root {
        /* font_size */
        --fs-3xl: 66px;
        --fs-2xl: 38px;
        --fs-xl: 36px;
        --fs-lg: 28px;
        --fs-md: 22px;
        --fs-sm: 18px;
        --fs-ss: 14px;
    }



    .dis_xsm_none {
        display: none;
    }

    .dis_xsm_block {
        display: block;
    }

    .pos_fixed_xsm {
        position: fixed;
        top: -100%;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgb(30, 145, 165);
        transition: 0.6s ease-in-out;
        z-index: 3;
    }

    #check:checked~.left_0 {
        left: 0%;
        top: 0;
    }

    .center_xsm {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 50px;
        text-align: center;
    }


    .coloum_xsm {
        flex-direction: column;
    }

}